<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="xtraconventions" name="Extra Conventions" schema="schema/xtraconventions.exsd"/>
   <extension
         id="co1"
         name="Java Conventions Checker"
         point="pt.iscte.pidesco.view">
      <view
            class="pt.iscte.pidesco.conventions.ConventionsView">
      </view>
   </extension>

</plugin>
